body
    padding: 120px 0 100px
    background-color: $green
    .card
        border: 10px solid $green
        border-radius: 20px
        &:hover
            width: 500px

.overlay
    background-color: #6b948d91
    z-index: 1050
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: auto
    button
        color: #000
        &:hover
            color: #9a9a9a
    ul
        list-style: none
        font-size: 18px
        padding-left: 15px