nav.navbar.navbar-light.bg-light.fixed-top
  a(href='.')
    h1.col-12.col-md-5.col-lg-7.navbar-brand Random User Generator
  form#amount_form.col-12.col-md-6.col-lg-4.input-group.flex-nowrap.ml-auto
    input#amount.form-control(type='number' placeholder='Enter a number' min='1' autofocus='')
    input.btn.btn-dark(type='submit')