template.modal
    .overlay
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h4.name.text-capitalize
                    button.close(type='button') &times;
                .modal-body
                    img.picture.card-img-top
                    ul.mt-3
                        li
                            b Gender: 
                            span.gender.text-capitalize
                        li
                            b Age: 
                            span.age
                        li
                            b City: 
                            span.city.text-capitalize
                        li
                            b Phone: 
                            span.phone
                        li
                            b Email: 
                            span.email