doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Random User Generator
        // BOOTSTRAP
        link(rel='stylesheet' href='https://bootswatch.com/4/flatly/bootstrap.min.css')
        // CUSTOM STYLES
    body
        include ./pug/navbar
        main.container
            section#wrapper.row

        template
            .overlay
                .modal-dialog.modal-dialog-centered
                    .modal-content
                        .modal-header
                            h4#name.text-capitalize
                            button#close.close(type='button') &times;
                        .modal-body
                            img#picture.card-img-top
                            ul.mt-3
                                li#gender.text-capitalize
                                li#age
                                li#city.text-capitalize
                                li#phone
                                li#email